@charset "utf-8";

body{
	width: 900px;
	margin: 0 auto;
}

h1{
	text-align: center;
}

#datos{
	float: left;
	width: 250px;
}

#principal{
	width: 650px;
	float: left;
}

#contenido{
  list-style-type: none;
  padding: 0;
}

#contenido li {
  float: left;
  width: 33%;
}